<div ng-controller="authorsCtrl">


<!--delete modal-->
	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="dleteModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
				  <div class="modal-content">
					<div class="modal-header">
					  <h5 class="modal-title" id="deleteModalLabel"></h5>
					  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					  </button>
					</div>
					<div class="modal-body">
							Are you sure you want to delete this author?
							All books of this author will be also deleted!
					</div>
					<div class="modal-footer">
					  <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
					  <button type="button" class="btn btn-danger" ng-click="deleteAuthor(delAuth.id)" data-toggle="modal" data-target="#deleteModal" ng-model="delAuth">Yes</button>
					</div>
				  </div>
				</div>
		</div>

<!--books modal -->
		<div class="modal fade" id="authorBooksModal" tabindex="-1" role="dialog" aria-labelledby="authorBooksModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
				  <div class="modal-content">
					<div class="modal-header">
					  <h5 class="modal-title" id="authorBooksModalLabel">Books</h5>
					  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					  </button>
					</div>
					<div class="modal-body">


							<ul class="list-group">
									<li class="list-group-item d-flex justify-content-between align-items-center" ng-repeat="b in booksByAuthor">
									  {{b.title}}
									  <span class="badge badge-primary badge-pill">{{b.votes}}</span>
									</li>
									
							</ul>
							
					</div>
					<div class="modal-footer">
					  <button type="button" class="btn btn-primary" ng-click="clearData()" data-toggle="modal" data-target="#authorBooksModal">Close</button>
					</div>
				  </div>
				</div>
		</div>

        <!-- new author modal-->
				<div class="modal fade" id="newAuthorModal" tabindex="-1" role="dialog" aria-labelledby="newAuthorModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="authorBooksModalLabel">Please fill the form:</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">


								<form>
										<div class="form-group">
											<label for="FirstName">First name: </label>
											<input type="text" class="form-control" id="firstName" placeholder="enter first name..." ng-model="newAuthor.firstName">
										</div>
										
						
										<div class="form-group">
													<label for="lastName">Last name:</label>
													<input type="text" class="form-control" id="lastName" placeholder="enter last name..." ng-model="newAuthor.lastName">
																		
										</div>
								
							</form>
		
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary" ng-click="addAuthor(newAuthor)" data-toggle="modal" data-target="#newAuthorModal">Save</button>
							<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#newAuthorModal">Close</button>
						</div>
						</div>
				</div>
				</div>


				<!-- update author modal-->
				<div class="modal fade" id="updateAuthorModal" tabindex="-1" role="dialog" aria-labelledby="updateAuthorModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="authorBooksModalLabel">Please fill the form:</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">


								<form>
										<div class="form-group">
											<label for="FirstName">First name: </label>
											<input type="text" class="form-control" id="firstName" placeholder="enter first name..." ng-model="updateAuthor.firstName">
										</div>
										
						
										<div class="form-group">
													<label for="lastName">Last name:</label>
													<input type="text" class="form-control" id="lastName" placeholder="enter last name..." ng-model="updateAuthor.lastName">
																		
										</div>
			
								
						
							</form>
							
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary" ng-click="editAuthor(updateAuthor)"data-toggle="modal" data-target="#updateAuthorModal" >Save</button>
							<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#updateAuthorModal">Close</button>
						</div>
						</div>
				</div>
				</div>
				

				<!--jumbotron-->
				<div class="jumbotron">
						
						<h3 class="text-muted" >Authors</h3>
												
				</div>

				<!-- serach form-->
				<form class="form-inline">
					
							<div class="form-group mx-sm-3 mb-2">
								
								<input type="text" class="form-control" placeholder="Enter name...." ng-model="searchAuthor.name">
							</div>
								<button type="submit" class="btn btn-outline-success mb-2" ng-click="filterAuthor(searchAuthor)">Find</button>
				</form>


				<!--table-->
        <table class="table table-striped">
						<thead>
											
							<tr>
								<th colspan="6">

				
								<div class="btn-group btn-group-lg float-right" role="group" aria-label="...">
									
										<button class="btn btn-success" type="button" data-toggle="modal" data-target="#newAuthorModal" >Add new author</button>				
								</div>


								</th>

								</tr>
								
							<tr>
							<th scope="col">Author</th>
							<th scope="col">Books</th>
							<th scope="col">Options</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="a in authors">
							<td>{{a.firstName}} {{a.lastName}}</td>
							<td><button type="button" class="btn btn-secondary" ng-click="loadAuthorBooks(a.id)" data-toggle="modal" data-target="#authorBooksModal">quick view</button></td>
							<td><button type="button" class="btn btn-warning"ng-click="prepForUpdate(a)"  data-toggle="modal" data-target="#updateAuthorModal">update</button></td>
							<td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" ng-click="prepForDel(a)">delete</button></td>
							<td><button type="button" class="btn btn-secondary"ng-click="seeDetails(a.id)">details</button></td>
							
							</tr>
						</tbody>
			</table>

  




</div>